*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
node_modules/
**/build/
*.log
/app/src/test/resources


.env
get_x_token.py
test_upload_v2.py
upload_test.sh
*.mp4
